body{
	background-color: lightgrey;
}

header{
	background-color: #EE9917;
	color: black;
	margin-bottom: 3%;
	height: 70px;

}
#caja{
	background-color: #5D4E4E;
	padding: 2%;
}
textarea {
    overflow-y: scroll;
    height: 80px;
}
footer{
	background-color: lightgrey;
	color: white;
	margin-top: 400px;
}
h2,p{
	color: #FFF;
	font-family: Verdana;
}
.label-color{
	background-color: black;
	color: white;
	font-size: 15px;
}

button{
	margin: 1%;
}

h4{
	background-color: darkgrey;
	text-align: center;
}