body{
	background-color: lightgrey;
}

header{
	background-color: grey;
	color: black;
	margin-bottom: 3%;
	height: 70px;

}
textarea {
    overflow-y: scroll;
    height: 80px;
}
footer{
	background-color: lightgrey;
	color: white;
	margin-top: 400px;
}
h1{
	color: darkgrey;
}
.label-color{
	background-color: black;
	color: white;
	font-size: 15px;
}

button{
	margin: 1%;
}

h4{
	background-color: darkgrey;
	text-align: center;
}